<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8" />
        <title th:text="${titulo}">TODO supply a title</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    </head>
    <body>
        <section th:replace="componentes/tiempo :: interceptor" />
        <h3 th:text="${titulo}"></h3>
        <div class="container">
            <form th:action="@{/form}" method="POST" th:object="${user}">
                <div class="form-check">
                    <label for="habilitar">Habilitar</label>
                    <input type="checkbox" id="habilitar" th:field="*{habilitar}" class="form-check-input"/>
                </div>
                <div>
                    <label class="form-label">Genero</label>
                    <div th:each="gen : ${generos}" class="form-check form-check-inline">
                        <input type="radio" th:field="*{genero}" th:value="${gen}" class="form-check-input"/>
                        <label th:for="${#ids.prev('genero')}" th:text="${gen}"></label>
                    </div>
                    <div th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}" class="alert alert-danger"></div>
                </div>
                <div class="form-group">
                    <label for="pais">Pais</label>
                    <div>
                        <select id="pais" th:field="*{pais}" class="form-select form-select-sm">
                            <option value="">-- Seleccionar --</option>
                            <option th:each="pais : ${listaPaises}" th:text="${pais.nombre}" th:value="${pais.id}"></option>
                        </select>
                        <div th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}" class="alert alert-danger"></div>
                    </div>
                </div>
                <div class="form-check">
                    <label for="roles">Roles</label>
                    <div th:each="role : ${listaRoles}">
                        <input type="checkbox" th:field="*{roles}" th:value="${role.id}"
                               th:checked="${#lists.contains(user.roles, role)}" class="form-check-input"/> <!-- compara la lista de roles que tiene el user con la que se pasa -->
                        <label th:for="${#ids.prev('roles')}" th:text="${role.nombre}"></label> <!-- Asigna el id para cada input se especifica del field -->
                        <div th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}" class="alert alert-danger"></div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="identificador" class="col-sm-2 col-form-label">Identificador</label>
                    <div class="col-sm-10">
                        <input type="text" id="identificador" th:field="*{identificador}" class="form-control"/>
                        <div th:if="${#fields.hasErrors('identificador')}" th:errors="*{identificador}" class="alert alert-danger"></div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" id="nombre" th:field="*{nombre}" class="form-control"/>
                        <div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="alert alert-danger"></div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="apellido" class="col-sm-2 col-form-label">Apellido</label>
                    <div class="col-sm-10">
                        <input type="text" id="apellido" th:field="*{apellido}" class="form-control"/>
                        <div th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}" class="alert alert-danger"></div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="username" class="col-sm-2 col-form-label">Username</label>
                    <div class="col-sm-10">
                        <input type="text" id="username" th:field="*{username}" class="form-control"/>
                        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="alert alert-danger"></div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="password" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" id="password" th:field="*{password}" class="form-control" />
                        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-danger"></div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" id="email" th:field="*{email}" class="form-control"/>
                        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger"></div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="cuenta" class="col-sm-2 col-form-label">Cuenta</label>
                    <div class="col-sm-10">
                        <input type="text" id="cuenta" th:field="*{cuenta}" class="form-control"/>
                        <div th:if="${#fields.hasErrors('cuenta')}" th:errors="*{cuenta}" class="alert alert-danger"></div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="fechaNacimiento" class="col-sm-2 col-form-label">Fecha Nacimiento</label>
                    <div class="col-sm-10">
                        <input type="date" id="fechaNacimiento" th:field="*{fechaNacimiento}" placeholder="yyyy/MM/dd" class="form-control"/>
                        <div th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors="*{fechaNacimiento}" class="alert alert-danger"></div>
                    </div>
                </div>
                <div>
                    <div>
                        <input type="submit" value="Enviar" class="btn btn-primary"  />
                    </div>
                </div>
                <input type="hidden" th:field="*{valorSecreto}" />
            </form>
        </div>
    </body>
</html>
