<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8" />
        <title th:text="${titulo}">TODO supply a title</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    </head>
    <body>
        <section th:replace="componentes/tiempo :: interceptor" />
        <div class="container my-3">
            <a th:href="@{/form}" class="btn btn-success btn-lg my-3">Volver</a>
            <ul class="list-group my-2">
                <li class="list-group-item active" th:text="${titulo}"></li>
                <li class="list-group-item" th:text="${user.identificador}"></li>
                <li class="list-group-item" th:text="${user.nombre}"></li>
                <li class="list-group-item" th:text="${user.apellido}"></li>
                <li class="list-group-item" th:text="${user.username}"></li>
                <li class="list-group-item" th:text="${user.password}"></li>
                <li class="list-group-item" th:text="${user.email}"></li>
                <li class="list-group-item" th:text="${user.cuenta}"></li>
                <li class="list-group-item" th:text="${user.pais.id}"></li>
                <li class="list-group-item" th:text="${user.pais.codigo}"></li>
                <li class="list-group-item" th:text="${user.pais.nombre}"></li>
                <li class="list-group-item" th:text="${#dates.format(user.fechaNacimiento, 'dd/MM/yyyy')}"></li>
                <li class="list-group-item" th:text="${user.habilitar}"></li>
                <li class="list-group-item" th:text="${user.genero}"></li>
                <li class="list-group-item" th:text="${user.valorSecreto}"></li>
            </ul>
            <ul class="list-group my-3">
                <li class="list-group-item active" th:text="'Roles'"></li>
                <li class="list-group-item" th:each="role : ${user.roles}" th:text="${role.rol}">
            </ul>
        </div>
    </body>
</html>
